.jumbotron>h1{
  text-align: center;
  opacity: 0.8;
}
body{
  background-image: url(https://cdn3.f-cdn.com/contestentries/760190/19478885/57cab3b9c568f_thumb900.jpg);
  font-family: 'Rancho', cursive;
}
